/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --general-title-shadow-color: #ff0070;
  --font: "IBM Plex mono";
  --title-color: #db00ff;
  --font-main-size: 18px;
  --title-decor-color: #000028;
  --main__section__title-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --decorated-zone-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgb(255, 0, 112, 0.4);
  --decorated-zone-position: 10px;
  --decorated-tag-opacity: 1;
}

@media screen and (width >= 768px) {
  .page.theme_dark {
    --decorated-zone-position: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --accent-color: #ff0070;
    --font: "IBM Plex mono";
    --title-color: #db00ff;
    --font-main-size: 18px;
    --title-decor-color: #000028;
    --main__section__title-color: #ff0070;
    --paragraph-color: #f1b2ce;
    --decorated-zone-color: #ff0070;
    --button-color: #ff0070;
    --button-color-hover: rgb(255, 0, 112, 0.4);
    --decorated-zone-position: 10px;
    --decorated-tag-opacity: 1;
  }
}
