:root{
  --background-image: url(/images/cover-image-dark.png);
  --accent-color: #ff0070;
  --font: 'IBM Plex mono';
  --title-color: #DB00FF;
  --font-main-size: 18px;
  --title-decor-color: #000028;
  --paragraph-color: #F1B2CE;
  --decorated-zone-color: #ff0070;
  --decorated-zone-position: 10px;
}